<!DOCTYPE html>
<html>
  <head>
    <title>Noms des pays qui commencent par la lettre P</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Noms des pays qui commencent par la lettre P :</h1>
    <ul>
      <%
        var list = '';
        for(i = 0; i < countries.length; i++) {
            list += '<li>' + countries[i].nom + '</li>'
        }
      %>
      <%- list %>
    </ul>
  </body>
</html>